<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
		*{margin: 0; padding: 0;}
		form {
			width: 300px; margin: 20px auto; padding: 10px 20px; box-shadow: 1px 1px 1px 2px #ccc;
		}
	</style>
</head>
<body>
	<div id="app">
		<form role='form'>
			<div class="form-group">
				<label for="question">question is :</label>
				<input type="text" class="form-control" id="question" v-model='question'>
			</div>
			<div class="form-group">
				<label for="answer">answer is :</label>
				<input type="text" class="form-control" :disabled="answer" id="answer" v-model='answer'>
			</div>
		</form>
	</div>
</body>
<script src='../../assets/vue.js'></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			question: '',
			answer: '',
			taolu: [
				{q: '', a: ''},
				{q: 'hah', a: 'are you a fool ?'},
				{q: 'no', a: 'question is wrong, you will be died'},
				{q: 'god', a: 'what ? there is no god ,only me'}
			]
		},
		methods: {
			getAnswer: function() {
				var question = this.question;
				var p = new Promise( (resolve, reject) => {
					this.taolu.map( obj => {
						if(question == obj.q) {
							resolve(obj.a)
						}
					})
					reject('fuck you , this is not a question')
				})
				p.then( data => {
					this.answer = data;
				}).catch( err => {
					this.answer = err;
				});
			}
		},
		watch: {
			question: function  () {
				this.answer = 'let me have a see';
				this.getAnswer();
			}
		}
	})
</script>
</html>